<div class="container">
  <form >
    <div class="form-group">
      <input
      [formControl]="value"
        class="form-control" type="text" placeholder="Enter country...">
      <div class="loader">
        <span *ngIf="loading">...</span>
      </div>
    </div>
    <div *ngIf="!!countries$;else country"  class="list-group">
        <div *ngFor="let item of countries$|async " class="list-group-item">
          <div class="media">

            <img src="{{item.flags.png}}" alt="">
              <p>{{item.name.common}}</p>
          </div>

        </div>

    </div>
    <div></div>
    <ng-template #country>
      No
    </ng-template>


  </form>
</div>
