/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(0, 123, 255, 0.10980392156862745);
}
input{
  border: none;
  outline: none;
  padding:10px;
  font-size: 16px;
}
p{

  margin: 0;
}
